{% extends 'student_base.html' %}

{% load static %}
{% block head_title %}Start-Learning{% endblock %}
{% block content %}
<nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb" style="background-color: #fdfdff !important;">
      <li class="breadcrumb-item" aria-current="page"><a class="text-dark" href="{% url 'e_learning:home' %}">Home</a>
      </li>
      <li class="breadcrumb-item active text-primary" ><a href="{% url 'e_learning:about' %}" >About</a></li>
    </ol>
 </nav>
<div class="container mb-3 mt-2">
	<div class="row mt-4 justify-content-center">
		<div class="col-md-9">
			<h3 class="text-center">Welcome to Start<span class="text-primary">-Learning</span><br>e-learning platform</h3>
			<p class="text-center">
				Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam Nullam id dolor id nibh ultricies vehicula ut id elit Cras justo odio, dapibus ac facilisis in, egestas eget quam Nullam id dolor id nibh ultricies vehicula ut id elit Cras justo odio, dapibus ac facilisis in, egestas eget quam.
			</p>
		</div>
	</div>
</div>
{% endblock %}