{% extends 'base.html' %}

{% load static %}

{% block head_title %}Start-Learning{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
<div class="container bg-white mb-4 mt-4">

<h3 class="text-muted mt-4 mb-2 text-center"><u>Frequently Asked Questions(FAQ)</u></h3>
<!-- Content Row -->
<div class="row justify-content-center">
  <div class="col-md-11">
  	<h4 class="pt-3 text-muted">What is Start<span class="text-primary">-Learning ?</span></h4>
    <p class="text-muted" style="font-size: 18px;">
		laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su alfa fa lu twi ri ri tur to yi laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su al laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su alfa fa lu twi ri ri tur to yi laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su al
    </p>
    <h4 class="pt-2 text-muted">How do students get to pay for subjects ?</h4>
    <p class="text-muted" style="font-size: 18px;">
		laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su alfa fa lu twi ri ri tur to yi laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su al laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su alfa fa lu twi ri ri tur to yi laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su al
    </p>
    <h4 class="pt-2 text-muted">How long does a subject take to expire after purchase ?</h4>
    <p class="text-muted" style="font-size: 18px;">
		laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su alfa fa lu twi ri ri tur to yi laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su al laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su alfa fa lu twi ri ri tur to yi laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su al
    </p>
    <h4 class="pt-2 text-muted">How do you apply to teach ?</h4>
    <p class="text-muted" style="font-size: 18px;">
		laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su alfa fa lu twi ri ri tur to yi laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su al laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su alfa fa lu twi ri ri tur to yi laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su al
    </p>
    <h4 class="pt-2 text-muted">How does the student interact with a teacher ?</h4>
    <p class="text-muted" style="font-size: 18px;">
		laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su alfa fa lu twi ri ri tur to yi laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su al laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su alfa fa lu twi ri ri tur to yi laca sa del papel je ma pele coma bele mansio tu un due trois qatre cent six sept oct nun elf fu su al
    </p>
  </div>
</div>
</div>
<!-- /.container-fluid -->
{% endblock %}