{% extends 'base.html' %}

{% load static %}
{% block head_title %}Start-Learning{% endblock %}
{% block content %}
<section id="carousel">
    <div class="carousel slide" data-ride="carousel" id="carousel-1">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item">
            <div class="jumbotron pulse animated hero-nature carousel-hero">
                <h1 class="hero-title">Hero Nature</h1>
                <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p><a class="btn btn-outline-primary hero-button plat text-dark" role="button" href="#" style="border-radius: 18px;"><b>Learn more</b></a></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron pulse animated hero-photography carousel-hero">
                <h1 class="hero-title">Hero Photography</h1>
                <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p><a class="btn btn-outline-primary hero-button plat text-dark" role="button" href="#" style="border-radius: 18px;"><b>Learn more</b></a></p>
            </div>
        </div>
        <div class="carousel-item active">
            <div class="jumbotron pulse animated hero-technology carousel-hero">
                <h1 class="hero-title">Hero Technology</h1>
                <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p><a class="btn btn-outline-primary hero-button plat text-dark" role="button" href="#" style="border-radius: 18px;"><b>Learn more</b></a></p>
                <section></section>
            </div>
        </div>
    </div>
    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
    <ol
        class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2" class="active"></li>
        </ol>
    </div>
</section>
<div class="container mb-3 mt-2">
	<div class="row mt-4 justify-content-center">
		<div class="col-md-9">
			<h3 class="text-center">Welcome to Start<span class="text-primary">-Learning</span><br>e-learning platform</h3>
			<p class="text-center">
				Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam Nullam id dolor id nibh ultricies vehicula ut id elit Cras justo odio, dapibus ac facilisis in, egestas eget quam Nullam id dolor id nibh ultricies vehicula ut id elit Cras justo odio, dapibus ac facilisis in, egestas eget quam.
			</p>
		</div>
	</div>
</div>
<div class="container-fluid mb-4">
	<div class="card shadow ">
		<h4 class="text-center pt-3">What We offer?</h4>
		<div class="row p-4">
		{% for content in lista_all %}
		<div class="col-md-3">
			<div class="card shadow h-100 w-100">
			  <div class="text-center">
		      <img class="rounded-circle mt-2" src="{{content.0}}" class="card-img-top" width="80%" height="100%" alt="...">
		      </div>
		      <div class="card-body">
		        <h5 class="card-text text-center text-capitalize text-primary">{{ content.1}} ({{content.2}})</h5>
		      </div>
		      <div class="text-center">
				  <hr>
				  <form id="{{ forloop.counter }}" action="{% url 'e_learning:subject_get'%}" method="POST" accept-charset="utf-8">

					{% csrf_token%}
					<input type="hidden" value="{{content.3}}" name="get_subject">

				  </form>
		        <a type="submit" onclick="document.getElementById('{{forloop.counter}}').submit();" class="btn btn-primary btn-sm text-white w-75 mb-3" href="#" style="border-radius: 15px;">
		            Learn More
		          </a>
		      </div>
		    </div>
		</div>
		{% endfor %}
	</div>
</div>
</div>


{% endblock %}