{% extends 'base.html' %}

{% load static %}
{% block head_title %}Start-Learning{% endblock %}
{% block content %}
<div class="container-fluid mt-5 mb-5">
<div class="card shadow-sm mb-5 pb-4 mt-5">
    <h6 class="text-dark pt-4 pl-4 pb-1" style="font-size: 18px;"><i class="fas fa-book-open fa-1x ml-2">&nbsp;&nbsp;On-going Subjects</i></h6>
    {% if subject_details  %}
    <div class="row p-3">
        {% for item in subject_details %}
        <div class="col-md-3">
            <div class="card shadow w-100 h-100">
                <div class="text-center">
                <img class="rounded-circle" src="{% static 'e_learning/image/logo.PNG' %}" class="card-img-top" width="80%" height="100%" alt="...">
                </div>
                <div class="card-body text-center">
                <h6 class="card-title text-primary"><b>{{ item.subject }}</b>
                </h6>
                <h6 class="text-center"><b>{{ item.class_n }}</b></h6>
                <p class="text-muted text-center">
                <span style="font-size: 14px;">Duration: 4 weeks</span>
                </p><hr>
                <div class="h5 mb-0 font-weight-bold text-gray-800"><small><b>
                    <span class="text-danger">USD:</span>&nbsp;{{ item.price }}<br><span class="text-danger">UGX:</span>&nbsp;{{ item.price }}/=</b></small>
                </div><hr>
                <p class="text-muted text-center">
                <span>By: Mr. {{profile.firstname}} {{profile.lastname}}</span>
                </p>
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary hero-button plat btn-sm mt-1 w-75" style="border-radius: 15px;">Learn More</a>
            </div>
            </div>
        </div>
        {% endfor %}
        </div>
        {% else %}
        <h1 class="text-center mt-4 text-muted">!Ooops</h1>
         <h3 class="text-center mt-3 mb-5 pb-4 text-muted">This subject content has not <br> been uploaded yet</h3>
        {% endif %}
</div>
</div>
    

{% endblock %}