{% extends 'student_base.html' %}

{% load static %}
{% block head_title %}Start-Learning{% endblock %}
{% block content %}
<nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb" style="background-color: #fdfdff !important;">
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'e_learning:home' %}" class="text-dark">Home</a>
      </li>
      <li class="breadcrumb-item active text-primary" ><a href="{{ overview.get_absolute_url }}">Subject Overview</a></li>
    </ol>
 </nav>
<div class="container-fluid mt-2 mb-4">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card shadow-lg">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="text-right">
                <img class="img-thumbnail" src="{% static 'e_learning/image/logo.PNG' %}" class="card-img-top" width="130" height="130" alt="...">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mt-3">
                <h4 class="text-left text-dark">{{overview.subject}}</h4>
                <p class="text-left ml-4" style="font-size: 14px;"><b>{{overview.class_n}}</b></p>
              </div>
            </div>
          </div><hr>
          <div class="row">
            <div class="col-md-2">
              <h5 class="text-center pb-3">Topics</h5>
              <ul class="list-unstyled text-center">
                  <li>
                    <a class="text-dark" href="#" style="font-size: 14px;">Topic 1</a>
                  </li>
                  <li>
                    <a class="text-dark" href="#" style="font-size: 14px;">Topic 2</a>
                  </li>
                  <li>
                    <a class="text-dark" href="#" style="font-size: 14px;">Topic 3</a>
                  </li>
                </ul>
            </div>
            <div class="col-md-5">
              <h5 class="text-center pb-3">Overview</h5>
              <p class="text-muted">{{overview.over_view}}</p>
            </div>
            <div class="col-md-5">
              <h5 class="text-center pb-2"><i class="fa fa-video-camera" ></i>&nbsp;(Preview Video)</h5>
              <div class="container-fluid mt-2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card shadow-sm">
                      <video class="video-fluid z-depth-1 p-1" loop controls muted width="100%" height="250" >
                        <source src="{{overview.video.url}}" type="video/mp4" />
                      </video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3 mb-3 pb-4">
            <div class="col-md-12 text-center mt-3">
              <div class="h5 mb-0 font-weight-bold text-gray-800 pb-4 pt-3"><span class="text-danger">USD:</span>&nbsp;${{ overview.price }}<br><span class="text-danger">UGX:</span>&nbsp;{{ overview.price }}/=</div>
              <a class="btn btn-outline-primary my-2 pt-1 my-sm-0 w-25" href="{% url 'e_learning:subject_topic'%}" type="submit" style="border-radius: 18px;">Subscribe Now
              </a>
            </div>
          </div>
          <hr>
          <h5 class="text-center pt-2 pb-3"><u>Teacher Details</u></h5>
          <div class="row mt-3 mb-3">
            <div class="col-md-3 text-center">
              <div class="text-right pt-2 pb-2 mr-3">
                <img class="img-thumbnail ml-5" src="{% static 'e_learning/image/profile_pic.jpg' %}" style="height:100px;width: 100px;">
              </div>
            </div>
            <div class="col-md-3">
              <div class="mt-3 mb-2">
                <p class="text-muted pt-2" style="font-size: 13px;"><i class="fas fa-address-book"></i>&nbsp;Name: <span><b>Mr {{overview.teacher.user_profile.firstname}} {{overview.teacher.user_profile.lastname}}</b></span><br>Secondary School teacher<br>{{overview.teacher.current_school}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <h6 class="text-muted"><i class="far fa-address-card" style="font-size: 13px;"></i>&nbsp;Bio</h6>
              <p class="text-muted" style="font-size: 13px;">
                {{overview.teacher.Brief_Self_description}}
              </p>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-md-12">
              <div class="text-center">
                <button class="btn btn-outline-primary btn-sm my-2 my-sm-0 w-25" type="submit" style="border-radius: 15px">View all subjects by Michael
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-md-11">
      <h5 class="text-center">Other Subjects Recommeded for you:</h5>
    </div>
  </div>
<div class="row p-3">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
            {% for item in recomend %}
            <div class="col-md-3">
              <div class="card shadow w-100 h-100">
                <div class="text-center">
                <img class="rounded-circle" src="{% static 'e_learning/image/logo.PNG' %}" class="card-img-top" width="80%" height="100%" alt="...">
                </div>
                <div class="card-body text-center">
                  <h6 class="card-title text-primary"><b>{{ item.subject }}</b>
                  </h6>
                  <p class="text-muted text-center">
                  <span style="font-size: 14px;">Duration: 4 weeks</span>
                  </p><hr>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><small><b>
                    <span class="text-danger">USD:</span>&nbsp;${{ item.price }}<br><span class="text-danger">UGX:</span>&nbsp;{{ item.price }}/=</b></small>
                  </div><hr>
                  <p class="text-muted text-center">
                  <span>By: Mr. {{item.teacher.user_profile.firstname}} {{item.teacher.user_profile.lastname}}</span>
                  </p>
                  <a href="{{ item.get_absolute_url }}" class="btn btn-primary hero-button plat btn-sm mt-1 w-75" style="border-radius: 15px;">Learn More</a>
              </div>
              </div>
            </div>
            {% endfor %}
            <!--    
            <div class="col-md-3">
              <div class="card shadow w-100 h-100">
                <div class="text-center">
                <img class="rounded-circle" src="{% static 'e_learning/image/logo.PNG' %}" class="card-img-top" width="80%" height="100%" alt="...">
                </div>
                <div class="card-body text-center">
                  <h6 class="card-title text-primary"><b>Fundamentals of Agriculture</b>
                  </h6>
                  <p class="text-muted text-center">
                  <span style="font-size: 14px;">Duration: 4 weeks</span>
                  </p><hr>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><small><b>
                    <span class="text-danger">USD:</span>&nbsp;$2,000<br><span class="text-danger">UGX:</span>&nbsp;/=25,000</b></small>
                  </div><hr>
                  <p class="text-muted text-center">
                  <span>By: Mr. Okello Francis</span>
                  </p>
                  <a href="{% url 'e_learning:subject_overview' %}" class="btn btn-primary hero-button plat btn-sm mt-1 w-75" style="border-radius: 15px;">Learn More</a>
              </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card shadow w-100 h-100">
                <div class="text-center">
                <img class="rounded-circle" src="{% static 'e_learning/image/logo.PNG' %}" class="card-img-top" width="80%" height="100%" alt="...">
                </div>
                <div class="card-body text-center">
                  <h6 class="card-title text-primary"><b>Fundamentals of Agriculture</b>
                  </h6>
                  <p class="text-muted text-center">
                  <span style="font-size: 14px;">Duration: 4 weeks</span>
                  </p><hr>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><small><b>
                    <span class="text-danger">USD:</span>&nbsp;$2,000<br><span class="text-danger">UGX:</span>&nbsp;/=25,000</b></small>
                  </div><hr>
                  <p class="text-muted text-center">
                  <span>By: Mr. Okello Francis</span>
                  </p>
                  <a href="{% url 'e_learning:subject_overview' %}" class="btn btn-primary hero-button plat btn-sm mt-1 w-75" style="border-radius: 15px;">Learn More</a>
              </div>
              </div>
            </div>   
            <div class="col-md-3">
              <div class="card shadow w-100 h-100">
                <div class="text-center">
                <img class="rounded-circle" src="{% static 'e_learning/image/logo.PNG' %}" class="card-img-top" width="80%" height="100%" alt="...">
                </div>
                <div class="card-body text-center">
                  <h6 class="card-title text-primary"><b>Fundamentals of Agriculture</b>
                  </h6>
                  <p class="text-muted text-center">
                  <span style="font-size: 14px;">Duration: 4 weeks</span>
                  </p><hr>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><small><b>
                    <span class="text-danger">USD:</span>&nbsp;$2,000<br><span class="text-danger">UGX:</span>&nbsp;/=25,000</b></small>
                  </div><hr>
                  <p class="text-muted text-center">
                  <span>By: Mr. Okello Francis</span>
                  </p>
                  <a href="{% url 'e_learning:subject_overview' %}" class="btn btn-primary hero-button plat btn-sm mt-1 w-75" style="border-radius: 15px;">Learn More</a>
              </div>
              </div>
            </div>
          -->
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
            <div class="col-md-3">
              <div class="card shadow w-100 h-100">
                <div class="text-center">
                <img class="rounded-circle" src="{% static 'e_learning/image/logo.PNG' %}" class="card-img-top" width="80%" height="100%" alt="...">
                </div>
                <div class="card-body text-center">
                  <h6 class="card-title text-primary"><b>Fundamentals of Agriculture</b>
                  </h6>
                  <p class="text-muted text-center">
                  <span style="font-size: 14px;">Duration: 4 weeks</span>
                  </p><hr>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><small><b>
                    <span class="text-danger">USD:</span>&nbsp;$2,000<br><span class="text-danger">UGX:</span>&nbsp;/=25,000</b></small>
                  </div><hr>
                  <p class="text-muted text-center">
                  <span>By: Mr. Okello Francis</span>
                  </p>
                  <a href="{% url 'e_learning:subject_overview' %}" class="btn btn-primary hero-button plat btn-sm mt-1 w-75" style="border-radius: 15px;">Learn More</a>
              </div>
              </div>
            </div>    
            <div class="col-md-3">
              <div class="card shadow w-100 h-100">
                <div class="text-center">
                <img class="rounded-circle" src="{% static 'e_learning/image/logo.PNG' %}" class="card-img-top" width="80%" height="100%" alt="...">
                </div>
                <div class="card-body text-center">
                  <h6 class="card-title text-primary"><b>Fundamentals of Agriculture</b>
                  </h6>
                  <p class="text-muted text-center">
                  <span style="font-size: 14px;">Duration: 4 weeks</span>
                  </p><hr>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><small><b>
                    <span class="text-danger">USD:</span>&nbsp;$2,000<br><span class="text-danger">UGX:</span>&nbsp;/=25,000</b></small>
                  </div><hr>
                  <p class="text-muted text-center">
                  <span>By: Mr. Okello Francis</span>
                  </p>
                  <a href="{% url 'e_learning:subject_overview' %}" class="btn btn-primary hero-button plat btn-sm mt-1 w-75" style="border-radius: 15px;">Learn More</a>
              </div>
              </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow w-100 h-100">
                  <div class="text-center">
                  <img class="rounded-circle" src="{% static 'e_learning/image/logo.PNG' %}" class="card-img-top" width="80%" height="100%" alt="...">
                  </div>
                  <div class="card-body text-center">
                    <h6 class="card-title text-primary"><b>Fundamentals of Agriculture</b>
                    </h6>
                    <p class="text-muted text-center">
                    <span style="font-size: 14px;">Duration: 4 weeks</span>
                    </p><hr>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><small><b>
                      <span class="text-danger">USD:</span>&nbsp;$2,000<br><span class="text-danger">UGX:</span>&nbsp;/=25,000</b></small>
                    </div><hr>
                    <p class="text-muted text-center">
                    <span>By: Mr. Okello Francis</span>
                    </p>
                    <a href="{% url 'e_learning:subject_overview' %}" class="btn btn-primary hero-button plat btn-sm mt-1 w-75" style="border-radius: 15px;">Learn More</a>
                </div>
                </div>
            </div>   
            <div class="col-md-3">
              <div class="card shadow w-100 h-100">
                <div class="text-center">
                <img class="rounded-circle" src="{% static 'e_learning/image/logo.PNG' %}" class="card-img-top" width="80%" height="100%" alt="...">
                </div>
                <div class="card-body text-center">
                  <h6 class="card-title text-primary"><b>Fundamentals of Agriculture</b>
                  </h6>
                  <p class="text-muted text-center">
                  <span style="font-size: 14px;">Duration: 4 weeks</span>
                  </p><hr>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><small><b>
                    <span class="text-danger">USD:</span>&nbsp;$2,000<br><span class="text-danger">UGX:</span>&nbsp;/=25,000</b></small>
                  </div><hr>
                  <p class="text-muted text-center">
                  <span>By: Mr. Okello Francis</span>
                  </p>
                  <a href="{% url 'e_learning:subject_overview' %}" class="btn btn-primary hero-button plat btn-sm mt-1 w-75" style="border-radius: 15px;">Learn More</a>
              </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon text-dark" aria-hidden="true"></span>
      <span class="sr-only text-dark">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>    
</div>
</div>

{% endblock %}