{% extends 'teacher_base.html' %}

{% load static %}

{% block head_title %}Start-Learning{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fdfdff !important;">
    <li class="breadcrumb-item" aria-current="page"><a class="text-dark" href="{% url 'e_learning:teacher_homepage' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item" ><a class="text-dark" href="{% url 'e_learning:my_uploaded_subjects' %}" >My Subjects</a></li>
    <li class="breadcrumb-item  active text-primary" ><a href="" >Edit My Subject</a></li>
  </ol>
</nav>
<div class="container-fluid bg-white">

  <!-- Page Heading -->
  <!-- DataTales Example -->
  <div class="card shadow-sm mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Edit My Subject</h6>
    </div>
    <div class="card-body">
      <h4 class="text-center mt-2"><b>{{subject_name}}</b></h4>
      <div class="table-responsive">
        <table class="table table-bordered mt-0" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Topic</th>
              <th  max-width="100"; word-wrap: break-word; >Content</th>
              <th>Video</th>
              <th>Attached File</th>
              <th>#Action1</th>
              <th>#Action2</th>
            </tr>
          </thead>
          <tbody>
            {% for edits in edit_uploaded %}
            <tr>
              <td><a href="{{ edits.get_edit_url }}">{{edits.topic}}</a></td>
              <td>{{edits.content|safe}}</td>
              <td><a href="{{ edits.get_video_url }}">{{edits.videos}}</a></td>
              <td>{{edits.attached_file}}</td>
              <td>
                <small>
                  <a class="btn btn-success btn-sm" href="{{ edits.get_edit_url }}">Edit</a>
                </small>
              </td>
              <td>
                <small>
                  <a class="btn btn-danger btn-sm" href="{{ edits.get_delete_url }}">Delete</a>
                </small>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>

{% endblock%}