{% extends 'teacher_base.html' %}

{% load static %}

{% block head_title %}Start-Learning{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fdfdff !important;">
    <li class="breadcrumb-item" aria-current="page"><a class="text-dark" href="{% url 'e_learning:teacher_homepage' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item  active text-primary" ><a href="" >My Subjects</a></li>
  </ol>
</nav>
<div class="container-fluid bg-white">

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
<h1 class="h3 mb-0 text-gray-800 mb-2">My Uploaded Subjects</h1>
<!--a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a-->
</div>

<!-- Content Row -->
<div class="row">
  {% for teacher_uploader in teacher_uploaded_subject %}
  <div class="col-md-4 pb-4">
    <div class="card shadow mb-4">
      <div class="text-center mt-2">
        <img class="rounded-circle" src="{% static 'e_learning/image/logo.PNG' %}" class="card-img-top" width="120" height="120" alt="...">
        </div>
      <div class="card-body">
        <h6 class="card-title text-primary text-center"><b>{{teacher_uploader.subject}}</b></h6>
        <h6 class="text-center"><b>{{ teacher_uploader.class_n }}</b></h6>
        <hr>
        <div class="row">
          <div class="col-md-6 text-left">
            <a href="{{ teacher_uploader.edit_subject_uploaded_url }}" class="btn btn-success btn-sm">Edit</a>
          </div>
          <div class="col-md-6 text-right">
            <a href="{{ teacher_uploader.get_subject_uploaded_url }}" class="btn btn-danger hero-button plat btn-sm" >Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
<!-- /.container-fluid -->

  

{% endblock %}